<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projectify</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" href="../images/projectify_logo.png">
  </head>

  <body>
    <header id="nav-desktop">
      <section  class="navigation ui secondary menu">
        <nav>
          <div class="nav-group">
            <div class="logo-container"><h1><img
                src="../images/projectify_logo.png"
                alt="Projectify Logo"
                class="projectifyIcon"
              /></h1></div>
            <a href="/" class="home item">Home</a>
            {{#if loggedIn}}
            
            {{else}}
            <a href="/signup" class="signup item">Sign up</a>
            {{/if}}

            <a href="/products" class="team item">Product</a>
            <a href="/team" class="product item">Team</a>
            {{#if loggedIn}}
              <a href="" class="logout item">Log Out</a>
            {{else}}
              <a href="/login" class="item">Log In</a>
            {{/if}}
          </div>
          <div class="nav-group">
            {{#if loggedIn}}
              <a href="/dashboard/profile" class="yourDetails item">My Profile</a>
              <a href="/dashboard" class="dashboard item">Dashboard</a>
              <a href="/dashboard/projects" class="projects item">Projects</a>
              {{!-- <a href="/dashboard/invoices" class="invoices item">Invoices</a> --}}
            {{/if}}
          </div>
        </nav>
      </section>
    </header>
    <header id="header-responsive">
        <nav id="nav-responsive">
            <div id="logo">
                <h2><a href="/" class="home item"><img id="logo-design" src="../images/projectify_logo_colour.png" alt="Projectify Logo"></a></h2>
            </div>
            <ul  class="nav-links">
                <li><a href="/" class="home item">Home</a></li>
                {{#if loggedIn}}
                {{else}}
                  <li><a href="/signup" class="signup item">Sign up</a></li> 
                {{/if}}
                <li><a href="/products" class="team item">Product</a></li>
                <li><a href="/team" class="product item">Team</a></li>
                <li>{{#if loggedIn}}
              <a href="" class="logout item">Log Out</a>
            {{else}}
              <a href="/login" class="item">Log In</a>
            {{/if}}</li>
            {{#if loggedIn}}
            <li><a href="/dashboard/profile" class="yourDetails item">My Profile</a></li>
            <li><a href="/dashboard" class="dashboard item">Dashboard</a></li>
            <li><a href="/dashboard/projects" class="projects item">Projects</a></li>
            {{/if}}
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>

    <main class="container">
      <!-- Render the sub layout -->
      {{{body}}}
    </main>

    <footer>
      <div id="footer-nav-container">
        <div>
          {{#if loggedIn}}
              <a class="logout" href="" class="product">Log Out</a>
            {{else}}
              <a href="/login" class="product">Log In</a>
            {{/if}}
          <a class="privacy" href="/privacy">Privacy Policy</a>
          <a class="terms" href="/faq">FAQ</a>
          <br />
          <p>&copy; 2021 Projectify. All rights reserved</p>
        </div>
        <div class="logo">
          <div class="logo-wrapper">
            <img src="../images/projectify_logo_white.png" alt="Projectify Logo" />
          </div>
        </div>
      </div>
    </footer>

  </body>
  <script src="/js/logout.js"></script>
  <script src="/js/nav-responsive.js"></script>
  
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/js/nav.js"></script>
  
</html>