<section class="confirmationPage">
  <h2>Thank You For Registering</h2>
  <div class="d-flex">
    <div>
      <ul>
        <li><span><i class="fas fa-bullseye"></i></span> Name: {{data.firstname}} {{data.lastname}} </li>
        <li><span><i class="fas fa-bullseye"></i></span>
          Email: {{data.email}}</li>
        <li><span><i class="fas fa-bullseye"></i></span> Phone: {{data.phone}} </li>
        <li><span><i class="fas fa-bullseye"></i></span>
          Company: {{data.company}}</li>
        <li><span><i class="fas fa-bullseye"></i></span> ABN: {{data.abn}}</li>
      </ul>
    </div>
    <div>
      <ul>
        {{#each data.projects}}
          <li><span><i class="fas fa-bullseye"></i></span> Project name: {{this.project_name}}</li>
        {{/each}}
        <li><span><i class="fas fa-bullseye"></i></span> Month start: January</li>
        <li><span><i class="fas fa-bullseye"></i></span> Landing Page: Yes</li>
        <li><span><i class="fas fa-bullseye"></i></span> Facebook: Yes</li>
        <li><span><i class="fas fa-bullseye"></i></span> Instagram: Yes</li>
        <li><span><i class="fas fa-bullseye"></i></span> TOTAL: $7,000/ January</li>
      </ul>
    </div>
  </div>
  <div class="d-grid">

  <a href="/login" class="primaryBtn">Confirm</a>
  </div>

</section>