<section class="projectPage">
  <div class="d-flex">
    <div class="img-block">
      <img src="./images/woolie_mobile_grey.png" alt="">
    </div>
    <div class="project-block">
    <div class="projectCard">
      <div class="header">
        <span class="circle"></span>
        <h2> PROJECT: DELIVERY SERVICES EASTLAKES</h2>
      </div>
        <p>Woolworths Eastlakes offers their customers same-day and on-demand delivery options. This campaign drives new customers to the Eastlakes delivery service.</p>
      <div class="d-flex">
        <h5><span><i class="fas fa-bullseye"></i></span> Total views: 2000</h5>
        <h5><span><i class="fas fa-bullseye"></i></span> Total ad clicks: 500</h5>
        <h5><span><i class="fas fa-bullseye"></i></span> Total registrations: 50</h5>
      </div>
    </div>
    <div class="projectCard">
      <div class="header">
        <span class="circle"> </span>
        <h2>PROJECT: DELIVERY SERVICES BALMAIN</h2>
      </div>
        <p>Woolworths Balmain offers their customers same-day and on-demand delivery options. This campaign drives new customers to the Balmain delivery service.</p>
        <div class="d-flex">
        <h5><span><i class="fas fa-bullseye"></i></span> Total views: 2000</h5>
        <h5><span><i class="fas fa-bullseye"></i></span> Total ad clicks: 500</h5>
        <h5><span><i class="fas fa-bullseye"></i></span> Total registrations: 50</h5>
      </div>
    </div>
    <div class="projectCard">
      <div class="header">
        <span class="circle"></span>
      <h2>PROJECT: DELIVERY SERVICES WEST PENNANT HILLS</h2>
      </div>
      <p>Woolworths West Pennant Hills offers their customers same-day and on-demand delivery options. This campaign drives new customers to the West Pennant Hills delivery service.</p>
  <div class="d-flex">
        <h5><span><i class="fas fa-bullseye"></i></span> Total views: 2000</h5>
        <h5><span><i class="fas fa-bullseye"></i></span> Total ad clicks: 500</h5>
        <h5><span><i class="fas fa-bullseye"></i></span> Total registrations: 50</h5>
      </div>
  </div>
    </div>
  </div>
</section>

{{!-- <div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div> --}}
