<section class="confirmationPage">
  <h2>Your Details</h2>
  <div class="d-flex">
    <div>
      <ul>
        <li><span><i class="fas fa-star"></i></span> Name: {{dbUserData.firstname}} {{dbUserData.lastname}} </li>
        <li><span><i class="fas fa-star"></i></span>
          Email: {{dbUserData.email}}</li>
        <li><span><i class="fas fa-star"></i></span> Phone: {{dbUserData.phone}} </li>
        <li><span><i class="fas fa-star"></i></span>
          Company: {{dbUserData.company}}</li>
        <li><span><i class="fas fa-star"></i></span> ABN: {{dbUserData.abn}} {{test.name}} </li>
      </ul>
    </div>
    <div>
      <ul>
        {{#each dbUserData.projects}}
          <li><span><i class="fas fa-star"></i></span> Project name: {{this.project_name}}</li>
        {{/each}}
        <li><span><i class="fas fa-star"></i></span> Month start: January</li>
        <li><span><i class="fas fa-star"></i></span> Landing Page: Yes</li>
        <li><span><i class="fas fa-star"></i></span> Facebook: Yes</li>
        <li><span><i class="fas fa-star"></i></span> Instagram: Yes</li>
        <li><span><i class="fas fa-star"></i></span> TOTAL: $7,000/ January</li>
      </ul>
    </div>
  </div>
  <div class="d-grid">

  <a href="/login" class="primaryBtn">Confirm</a>
  </div>

</section>